* { 
  box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* nav */
.navbar {
  position: sticky;
  top: 0; 
  background: #3b3f46;
  color: white;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* icon */
.menu-icon {
  font-size: 26px;
  cursor: pointer;
}

/* SEARCH BAR */
.search-wrapper {
  margin-left: 15px;
  width: 300px;
  position: relative;
}

.search-bar {
  width: 100%;
  padding: 8px 12px 8px 35px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 16px;
  pointer-events: none;
}

/* prof */
.profile-area {
  position: relative;
  margin-left: auto; /*pushes profile to the right */
}

.profile-icon {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

/* dropdown */
.profile-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: calc(100% + 8px);
  background: white;
  width: 180px;
  border-radius: 8px;
  padding: 5px 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: left;
  z-index: 1000;
}

.profile-dropdown p {
  margin: 0;
  font-weight: bold;
}

.profile-dropdown a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: 5px;
}

.profile-dropdown a:hover {
  background: #ddd;
}

/* side menu */
.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #2f333a;
  transition: 0.3s;
  z-index: 1001;
}

.side-menu a {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
}

.side-menu a:hover { 
  background: #444; 
}

.close-btn {
  color: white;
  font-size: 22px;
  padding: 10px 20px;
  cursor: pointer;
}

/* overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
}

/* main */
.main-content {
  padding: 30px;
}

/* count student */
.stats {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

.stat-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 160px;
  text-align: center;
}

/* start */
.start-text {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  width: 160px;
  min-width: 140px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.card:hover { 
  background: #eaeaea; 
}

}
