body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

/* Login box */
.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 90%;           
  max-width: 400px;   
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 6px;
  background: #fff;
  color: #000;
  cursor: pointer;
}

button:hover {
  background: #ddd;
}

#message {
  margin-top: 10px;
  color: red;
  text-align: center;
}

/* laptop */
@media (min-width: 768px) {
  .container {
    max-width: 500px;
  }
}

.contain{
text-align: center;
}