body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

/* Login box */
.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 15px;
}

/* When clicking input */
input:focus {
  outline: none;
  border-color: black;
}

/* Fix Chrome autofill making input weird */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 6px;
  background: #fff;
  color: #000;
  cursor: pointer;
}

button:hover {
  background: #ddd;
}

#message {
  margin-top: 10px;
  text-align: center;
}

/* laptop */
@media (min-width: 768px) {
  .login-container {
    max-width: 500px;
  }
}

.contain {
  text-align: center;
}

/* Show Password Container */
.show-password {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-top: 6px;
  cursor: pointer;
}

/* Checkbox style */
.show-password input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* Optional: improve spacing for inputs */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
